

.bodyeba {
  font-family: inter,Arial, Helvetica, sans-serif;
  margin-left: 90px;
  font-family: sans-serif;
  font-weight: 100%;
  transform: scale(0.9);
}
/* Full-width input fields */

input.texteba1{
  
  padding: 14px 20px; 
  width: 930px; 
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 7px;
  box-sizing: border-box;
  margin-left: 60px;
  margin-top: 15px;
  text-align: left;
}
input.texteba1{
  
  padding: 14px 20px; 
  width: 930px; 
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 7px;
  box-sizing: border-box;
  margin-left: 60px;
  margin-top: 15px;
  text-align: left;
}
input.texteba2{
  
  padding: 14px 20px; 
  width: 930px; 
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 7px;
  box-sizing: border-box;
  margin-left: 60px;
  margin-top: 15px;
  text-align: left;
}
input.texteba3{
  
  padding: 14px 20px; 
  width: 930px; 
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 7px;
  box-sizing: border-box;
  margin-left: 60px;
  margin-top: 15px;
  text-align: left;
}
input.texteba4{
  padding: 14px 20px; 
  width: 930px; 
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 7px;
  box-sizing: border-box;
  margin-left: 60px;
  margin-top: 15px;
  text-align: left;
}input.texteba5{
  
  padding: 14px 20px; 
  width: 930px; 
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 7px;
  box-sizing: border-box;
  margin-left: 60px;
  margin-top: 15px;
  text-align: left;
}
input.texteba6{
  padding: 14px 20px; 
  width: 930px; 
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 7px;
  box-sizing: border-box;
  margin-left: 60px;
  margin-top: 15px;
  text-align: left;
}
input.texteba7{
  
  padding: 14px 20px; 
  width: 930px; 
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 7px;
  box-sizing: border-box;
  margin-left: 60px;
  margin-top: 15px;
  text-align: left;
}
input.texteba8{
  margin-top :30px;
  margin-left:430px;
  color:black;
	font-weight: bold;
}
input.texteba1:focus {
  border-color: #000000; /* Change border color when focused */
  box-shadow: 0px 5px 10px rgb(14, 218, 237); /* Add a box shadow when focused */
}
input.texteba2:focus {
  border-color: #000000; /* Change border color when focused */
  box-shadow: 0px 5px 10px rgb(14, 218, 237); /* Add a box shadow when focused */
}input.texteba3:focus {
  border-color: #000000; /* Change border color when focused */
  box-shadow: 0px 5px 10px rgb(14, 218, 237); /* Add a box shadow when focused */
}input.texteba4:focus {
  border-color: #000000; /* Change border color when focused */
  box-shadow: 0px 5px 10px rgb(14, 218, 237); /* Add a box shadow when focused */
}input.texteba5:focus {
  border-color: #000000; /* Change border color when focused */
  box-shadow: 0px 5px 10px rgb(14, 218, 237); /* Add a box shadow when focused */
}input.texteba6:focus {
  border-color: #000000; /* Change border color when focused */
  box-shadow: 0px 5px 10px rgb(14, 218, 237); /* Add a box shadow when focused */
}input.texteba7:focus {
  border-color: #000000; /* Change border color when focused */
  box-shadow: 0px 5px 10px rgb(14, 218, 237); /* Add a box shadow when focused */
}
input.texteba8:focus {
  border-color: #000000; /* Change border color when focused */
  box-shadow: 0px 5px 10px rgb(14, 218, 237); /* Add a box shadow when focused */
}


.ebah2{
  text-decoration:none;
  color:#384D6C;
   text-align: center;
  margin-top: -10px;
    
  }

/* Set a style for all buttons */

.buttoneba5 {
   color: white;
   margin: 8px 0;
   cursor: pointer;
   background-color:#5160b4;
   display:block;
   margin-left:170px;
   margin-top:60px;
   text-align:center;
   border-radius:12px;
   padding:11px 50px;
   outline:none;
   color:white;
   transition:0.25s;
   font-size:14px;
   font-weight: bold;
}
.ebah1{
  text-decoration:none;
  color:black;
  margin-left: 300px;
  margin-top : 30px;
  width: 1053px;
  height: 122px;
background: #C9E8EA;
border-radius: 20px;
text-align: center;
border: 2px solid black;
    
}


.buttoneba5:hover {
  background-color :rgb(56, 56, 128);
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
  transform: scale(1.06);

}

.text{
	font-size :20px;
	margin-right :170px;
}
.containereba{
  display: flex;
  padding-top: 5px;
  margin-left:200px;
  margin-top:0px;
  
}

.containereba3 {
	
   color: white; /* Set the text color */
    font-size: 75px; /* Adjust the font size as needed */
   
}
.labeleba1 {
  margin-left: 60px;
  color: black;
  font-weight: bold; /* Use font-weight property to set text to bold */
}


.labeleba2{
	
	margin-left:120px;
	color:black;
	font-weight: bold;
}
.labeleba3{
	
	margin-left:70px;
	color:black;
	font-weight: bold;
}
.labeleba4{
	
	margin-left:85px;
	color:black;
}.labeleba5{
	
	margin-left:110px;
	color:black;
}.labeleba6{
	
	margin-left:100px;
	color:black;
}.labeleba7{
	
	margin-left:100px;
	color:black;
}
.labeleba8 {
    color: #384D6C; /* Set color to blue */
    font-weight: bold; /* Make the text bold */
	margin-left:450px;
	margin-top:80px;
	font-size:20px;
  }
  
  /* Style the file input */
  

.containereba4 {
	
  color: white; /* Set the text color */
  font-size: 75px; /* Adjust the font size as needed */
  margin-top: 50px;
  margin-bottom: 50px;
 
}

.payeba{
  width: 1053px;
  height: 950px;
  background-color: #C9E8EA;
   margin-left:100px ;
   color:#FFFFFF;
   padding:10x 10px 10px 0px;
   border-radius: 20px;
   margin-top:40px;
   border: 2px solid black;
   font-size: 20px;


  }

  .payeba2{
    width: 1053px;
  height: 130px;
  background-color: #C9E8EA;
   margin-left:00px ;
   color:#FFFFFF;
   padding:10x 10px 10px 0px;
   border-radius: 20px;
   margin-top:60px;
   border: 2px solid black;
   font-size: 20px;
  }

.signeba1{
	 width: 300px;
	height: 50px;
	background-color:rgb(0,0,0,.6);
   margin:auto;
   color:#FFFFFF;
   padding:10x 10px 10px 10px;
   border-radius:12px 12px 12px 12px;
   
 }



.buttoneba1{
  color: black;
  margin-left: 300px; /* Adjust the margin to control the space between buttons */
  cursor: pointer;
  background-color: #384D6C;
  text-align: center;
  border-radius: 12px;
  padding: 11px 55px;
  outline: none;
  color: white;
  transition: 0.25s;
  font-size: 15px;
  font-weight: bold;
margin-top :20px;
}

.buttoneba2 {
  color: black; /* Change text color to black */
  margin-left: 300px; /* Adjust the margin to control the space between buttons */
  cursor: pointer;
  background-color:white;
  text-align: center;
  border-radius: 12px;
  padding: 11px 30px;
  outline: none;
  transition: 0.25s;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
  color: black;
  border: 2px solid black;
}
.buttoneba3 {
  color: white; /* Change text color to black */
  /* Adjust the margin to control the space between buttons */
      cursor: pointer;
      background-color:#384D6C;
      text-align: center;
      border-radius: 12px;
      padding: 20px 500px;
      outline: none;
      transition: 0.25s;
      font-size: 21px;
      font-weight: bold;
      margin-bottom: 10px;
      border: 3px solid black;
}

.buttoneba1:hover {
    background: linear-gradient(to right, #25c481, #25b7c4);
    transform: scale(1.06);
}
.buttoneba3:hover {
    background:  #FF0000;
    transform: scale(1.06);
}
.buttoneba4 {
  color: white; /* Change text color to black */
/* Adjust the margin to control the space between buttons */
  cursor: pointer;
  background-color:#384D6C;
  text-align: center;
  border-radius: 12px;
  padding: 20px 490px;
  outline: none;
  transition: 0.25s;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 100px;
  border: 3px solid black;
}
.buttoneba4:hover {
  background:  #FF0000;
  transform: scale(1.06);
}


.checkbox-labelpa {
  display: inline-block;
  margin-left: 00px;
  padding-left: 25px;
  margin-right: 15px;
  cursor: pointer;
  font-size: 20px;
  color: black;
}
.checkbox-textpa {
margin-left: 400px;
cursor: pointer;
size: 30px;
color: #384D6C;
}

