.heading9{
    position: absolute;
    width: 968px;
    height: 25px;
    left: 336px;
    top: 130px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 28.8546px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #063a67;
    }
    
    .tt6{
   /* Student ID */

        position: absolute;
        width: 338px;
        height: 39px;
        left: 320px;
        top: 220px;

        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 200;
        font-size: 29px;
        line-height: 25px;
        /* or 85% */
        letter-spacing: 0.01em;

        color: #000000;


    }

    .tt61{
        /* Student ID */
     
             position: absolute;
             width: 338px;
             height: 39px;
             left: 300px;
             top: 370px;
     
             font-family: 'Epilogue';
             font-style: normal;
             font-weight: 200;
             font-size: 29px;
             line-height: 25px;
             /* or 85% */
             letter-spacing: 0.01em;
     
             color: #000000;
     
     
         }
    
    .tt7{
    /* Feedback */

        position: absolute;
        width: 338px;
        height: 39px;
        left: 338px;
        top: 400px;

        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 200;
        font-size: 29px;
        line-height: 25px;
        /* or 85% */
        letter-spacing: 0.01em;

        color: #000000;


    }

    .tt71{
        /* Feedback */
    
            position: absolute;
            width: 338px;
            height: 39px;
            left: 325px;
            top: 520px;
    
            font-family: 'Epilogue';
            font-style: normal;
            font-weight: 200;
            font-size: 29px;
            line-height: 25px;
            /* or 85% */
            letter-spacing: 0.01em;
    
            color: #000000;
    
    
        }
        
    
    .tt8{
    /* Enter date */

        position: absolute;
        width: 338px;
        height: 39px;
        left: 325px;
        top: 700px;

        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 200;
        font-size: 29px;
        line-height: 25px;
        /* or 85% */
        letter-spacing: 0.01em;

        color: #000000;


    }

    .tt81{
        /* Enter date */
    
            position: absolute;
            width: 338px;
            height: 39px;
            left: 300px;
            top: 780px;
    
            font-family: 'Epilogue';
            font-style: normal;
            font-weight: 200;
            font-size: 29px;
            line-height: 25px;
            /* or 85% */
            letter-spacing: 0.01em;
    
            color: #000000;
    
    
        }
    
    .sfet{
    position: absolute;
    width: 290px;
    height: 31px;
    left: 1195px;
    top: 932px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    }

    .tv18{
        /* Student ID */

    position: absolute;
    width: 338px;
    height: 39px;
    left: 330px;
    top: 227px;

    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 200;
    font-size: 29px;
    line-height: 25px;
    /* or 85% */
    letter-spacing: 0.01em;

    color: #000000;



    }

    .uth2{
        text-decoration:none;
      color:black;
      margin-left: 300px;
      width: max-content;
      height: max-content;
      padding-right: 100px;
      padding-bottom: 20px;
      
      background: #a7cced;
      border-radius: 20px;
      text-align: center;
      border: 2px solid black;
      margin-top: 50px;
          
      }

      .buttonbb6{
        color: black;
        margin-left: 800px; /* Adjust the margin to control the space between buttons */
        cursor: pointer;
        background-color: #384D6C;
        text-align: center;
        border-radius: 12px;
        padding: 11px 55px;
        outline: none;
        color: white;
        transition: 0.25s;
        font-size: 15px;
        font-weight: bold;
        margin-top:750px;
    
      }
      
      .buttonbb6:hover {
        background: linear-gradient(to right, #25c481, #25b7c4);
        transform: scale(1.06);
    }