.heading131{
    position: absolute;
    width: 968px;
    height: 25px;
    left: 336px;
    top: 136px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28.8546px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #063a67;
    }
    
    .pm{
    position: absolute;
    width: 1006px;
    height: 111px;
    left: 336px;
    top: 186px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #151929;
    }
    
    .vft{
    position: absolute;
    width: 445px;
    height: 46px;
    left: 475px;
    top: 307px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 150%;
    color: #FFFFFF;
    }
    
    .ttt8{
    position: absolute;
    width: 968px;
    height: 25px;
    left: 347px;
    top: 450px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 28.8546px;
    line-height: 25px;
    letter-spacing: 0.01em;
    text-decoration-line: underline;
    color: #5D7285;
    }
    
    .gft{
    position: absolute;
    width: 665.66px;
    height: 41px;
    left: 945px;
    top: 487px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    }
    
    .gfet{
    position: absolute;
    width: 138px;
    height: 41px;
    left: 1285px;
    top: 854px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    }
    
    .gfdt{
    position: absolute;
    width: 138px;
    height: 41px;
    left: 1275px;
    top: 939px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    }
    