.heading14k{
    position: absolute;
    width: 968px;
    height: 25px;
    left: 336px;
    top: 136px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 28.8546px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #063a67;
    }
    
    .t1t{
    position: absolute;
    width: 338px;
    height: 39px;
    left: 342px;
    top: 242px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 200;
    font-size: 29px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #000000;
    }
    
    .t2t{
    position: absolute;
    width: 338px;
    height: 39px;
    left: 342px;
    top: 377px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 200;
    font-size: 29px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #000000;
    }
    
    .t3t{
    position: absolute;
    width: 338px;
    height: 39px;
    left: 342px;
    top: 615px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 200;
    font-size: 29px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #000000;
    }
    
    .sfrt{
    position: absolute;
    width: 376px;
    height: 31px;
    left: 1109px;
    top: 932px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    }