.bodygr{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .containergr {
    max-width: 600px;
    margin-top: 120px;
    margin-left: 150px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
  }

  .h1gr{
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }

  .form-groupgr{
    margin-bottom: 25px;
  }

  .labelgr {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 8px;
  }




  .mainadgen {
    width: 950px;
    height: 550px;
    background: linear-gradient(90deg, rgba(174,213,217,1) 0%, rgba(87,127,175,1) 100%);
    margin-left: 350px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black; 
}

.button7gr{
  color: white;
  margin-left: 110px; 
  cursor: pointer;
  background-color: #384D6C;
  text-align: center;
  border-radius: 15px;
  padding: 11px 50px;
  outline: none;
  color: white;
  transition: 0.25s;
  font-size: 20px;
  font-weight: bold;

  border: 3px solid white;
}

.button7gr:hover {
  background: linear-gradient(to right, #da4a0c, #e60b45);
  transform: scale(1.06);
}