.MrkAttend{
    width: 550px;
    
}

.ViewAttend{
    margin-left: 58%;
    margin-top:  -58.5%;
    max-height: 200px;
    width: 500px;
}


.ViewAttendsbydate2{
    

    margin-left: 50%;
    margin-top: -81%;
    margin-bottom: -57%;
    position:sticky;

}